.elements {
  width: 100%;
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 18px;
  margin: 70px auto;
}
.card {
  box-sizing: border-box;
  background-color: white;
  border-color: #fff;
  border-radius: 10px;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 282px;
  overflow: hidden;
}

.element__img {
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 2%;
  background-color: #000;
}

.element_text-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.element__text {
  margin: auto 3%;

  color: black;
  width: 80%;
  padding: 1px;
}
.element__name {
  font-size: 20px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  margin: 0;
  max-width: 215px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.element__button-like {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00000000;
  border-style: none;
  box-sizing: border-box;
  margin-right: 20px;
  width: 22px;
  height: 19px;
  padding-top: 20px;
  cursor: pointer;
  justify-content: flex-end;
  background-image: url(../images/like.jpg);
}
.element__button-like_active {
  background-image: url(../images/darklike.jpg);
}

.element__button-like:hover {
  opacity: 50%;
  cursor: pointer;
}

.element__counter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1px;
  text-align: center;
  color: black;

  margin-left: -20px;
}

.element__button-trash {
  width: 280px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.element__button-trash-img {
  width: 25px;
  height: 25px;
}
.element__button-trash-img:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 968px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .element__img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .elements {
    width: 30%;
    margin-top: 10px;
    margin-left: 60px;

    grid-template-columns: 1fr;
    grid-template-rows: max-content;
  }
}

@media screen and (max-width: 390px) {
  .elements {
    margin-right: 100px;
    margin-left: 15px;
    width: 30%;
  }
}
