.popup {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  scale: 0;
  z-index: 1000;
  visibility: hidden;
}
.popup.active {
  opacity: 1;
  pointer-events: all;
  scale: 1;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
}

.popup__container {
  width: 470px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.popup__close {
  cursor: pointer;
  align-self: flex-end;
  width: 35px;
  background: none;
  border-style: none;
  margin-left: -5px;
  color: black;
  float: right;
}
.pop-up__close-button {
  cursor: pointer;
  align-self: flex-end;
  width: 35px;
  background: none;
  border-style: none;
  margin-left: -5px;
  color: black;
}
.popup__card {
  background-color: rgb(255, 255, 255);
  width: 430px;
  min-height: 330px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}
.popup__title {
  font-size: 24px;
  font-weight: bold;
  margin: 5% 10%;
  color: #000;
}
.pop-up__container {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 180px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 60%;
}
.pop-up__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  margin: 2% 5%;
}

.pop-up__delete-title {
  margin-bottom: 22px;
}
.pop-up__input-container {
  margin: 30px auto 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}
.pop-up__form-item {
  width: 358px;
  height: 27.26px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #c4c4c4;
}
.pop-up__form-item_error {
  border-bottom: 1px solid red;
}

.pop-up__form-error {
  color: red;
  font-size: 12px;
  font-weight: 400;
  width: 358px;
  margin-bottom: 5px;
}

.pop-up__form-item::placeholder {
  color: #c4c4c4;
}
.pop-up__save-button {
  display: block;
  width: 358px;
  height: 50.15px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: auto;
  margin-bottom: 36px;
  border-radius: 2px;
}

.pop-up__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.pop-up__save-button:disabled {
  background: white;
  color: rgba(204, 204, 204, 1);
  border-radius: 2px;
}
.popup__input {
  margin: 2% 10%;
  width: 80%;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  border-style: solid;
  border-width: 0px 0px 1px;
  padding: 2% 0px;
}
.popup__input:invalid {
  border-bottom: 1px solid red;
}
.popup__input:valid {
  border-bottom: 1px solid green;
}

.popup__submit-btn {
  margin: 10% 10%;
  width: 80%;
  font-size: 14px;
  font-weight: normal;
  color: #c4c4c4;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  background-color: black;
  padding: 5% 0px;
}
.popup__submit-btn:invalid {
  background-color: white;
}
.popup__submit-btn:valid {
  background-color: black;
}
.popup__submit-btn:hover {
  color: #ffffff;
  border-style: none;
  background-color: #00000083;
}
.popup__submit-btn.active {
  color: #fff;
  border-style: none;
  background-color: #000;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__image {
  position: fixed;
  top: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
}
.popup__image.active {
  opacity: 1;
  visibility: visible;
}

.popup__image-container {
  max-width: 75vw;
  max-height: 75vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 18% auto;
}
.popup__large-image {
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  border-radius: 10px;
  width: 500px;
  height: 500px;
}
.popup__input_type_error {
  border-bottom: 1px solid rgba(rgb(193, 44, 44));
}

.button_inactive {
  background-color: white;
}
